<a href="https://colab.research.google.com/github/preetygoswami002/MyFirstBlog/blob/master/python_important_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Positional (arg) and keyword argumnet(kwargs)***

positional can be used to send the list to a fucntion
keyword argument can be used to send the dict to a function.

In [1]:
def details(name,age=29):
  print(name,age)

In [3]:
details('preety')

preety 29

In [5]:
def details(name,age=29):
  print('My name is {} and age is {}'.format(name,age))

details('preety',30)

My name is preety and age is 30

In [ ]:
details1('preety','goswami',age=21,hight=5.6,weight=68)

In [10]:
def details1(*arg,**kwargs):
  print(arg)
  print(kwargs)

('preety', 'goswami')
{'age': 21, 'hight': 5.6, 'weight': 68}

In [11]:
l1=['preety','goswami','dav school','neeraj','jayyesh','penny']
dict1={'age':29,'weight':68}
details1(l1,dict1)

(['preety', 'goswami', 'dav school', 'neeraj', 'jayyesh', 'penny'], {'age': 29, 'weight': 68})
{}

# lambda function 
A small anonymous function. A function with no name.A lambda function can take any number of arguments, but can only have one expression

In [1]:
def square(num):
  return num*num

In [3]:
print(square(22))

484

In [3]:
square=lambda x:x*x*x

In [4]:
square(22)

10648

In [6]:
def even(num):
  if num%2==0:
    return True

In [10]:
even(43)

False

In [13]:
even1=lambda x:x%2!=0

In [14]:
even1(33)

True

##Map Function
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

map(func, *iterables) --> map object
Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [23]:
list1=[1,2,3,4,5,6,7,8,9,12,1213,121334,3444,676,878]
map(even,list1)

In [26]:
list(map(even,list1))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True]

In [19]:
map(square,list1)
list(map(square,list1))

[1, 8, 27, 64, 125]

#Filter method
The filter() method constructs an iterator from elements of an iterable for which a function returns true. In simple words, filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not. The syntax of filter() method is: filter(function, iterable)

In [24]:
list(filter(lambda x:x%2==0,list1))

[2, 4, 6, 8, 12, 121334, 3444, 676, 878]

In [25]:
list(filter(lambda x:x%2!=0,list1))

[1, 3, 5, 7, 9, 1213]

#List comprehension
List comprehensions are used for creating new lists from other iterables. As list comprehensions return lists, they consist of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

In [13]:
l3=[]
def square1(l1):  
  for l2 in l1:
    if l2%2==0:
      l3.append(l2*l2)
  return l3

In [14]:
l1=[1,2,3,4,5,6,7,8,9,0]
square1(l1)

[4, 16, 36, 64, 0]

In [15]:
l1=[1,2,3,4,5,6,7,8,9,0]
[l2*l2 for l2 in l1 if l2%2==0 ]

[4, 16, 36, 64, 0]

In [19]:
list1=[1,2,3,4,5]
[print('{} value is less then 5'.format(list_value)) for list_value in list1 if list_value > 5]

[]

In [23]:
print('my name is {name} and age is {age}'.format(age=29,name='preety'))

my name is preety and age is 29

#Iterable vs Iterator

In [24]:
list1=[1,2,3,4,5]
for l1 in list1:
  print(l1)

1
2
3
4
5

In [33]:
list2=iter([1,2,3,4])

In [36]:
next(list2)

3